html {
    font-size: 16px;
   
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: ;
}

/* End of general styling  */

/* main landing start */

.main-photo {
    background-image: url(../images/main-photo-of-nyc.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
}

.overlay {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    position: absolute;
}

.main-text, .main-btn {
    z-index: 1;
}


/* main landing end */

/* Quote section start */

.quote {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 200;
  height: 15vh;
  transition: ease-in-out 1.25s;
}

.quote-overlay:hover {
  width: 100%;
  height: 600px;
  background: #000;
  opacity: 0.4;
  position: absolute;
}

.quote:hover {
  background-image: url(../images/times.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 600px;
  transition: linear 1.5s;
  color: white;
  font-size: 2em;
  font-weight: 600;
}

/* quote section end */

/* image gallery start */


.img-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 60%;
    margin: auto;
    margin-top: 30px;
  }
  
  /* Create three equal columns that sits next to each other */
  .img-column {
    flex: 30%;
    max-width: 33%;
    padding: 0 4px;
   
  }
  
  .img-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  /* image gallery end */

  /* Top attractions start */
  .img-attrac {
      border: 1px solid white;
  }

  /* Top attractions end */
